.container{
    background-color: rgba(174, 249, 224, 0.791);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     margin-top: 20%;
     margin-left: 25%;
    width: 50%;
    height: 400px;
    border: solid green;
}

h1{
    width: 100%;
    margin-left: 20%;
    margin-top: 20%;

}
.OkKnapp, .nameInput{
    height: 40px;
    margin-top: 0px;
    padding-top: 0px;
}
.Ok{
    width: 70%;
    height: 30px;
}


label{
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 20px;
}
